/* color palette sourced from color.adobe.com*/
header {
    background-color: #FCB1A7;
    text-align:left;
}

li {
    list-style: none;
}

nav {
    display:flex;
    justify-content: right;
    font-size: 40px;
}

body {
    font-family:Arial, Helvetica, sans-serif ;
    background-color: #FFEEE6;

}

.container {
display:block;
}

section ul {
    border: 10px solid color #83AF93;
}

.jpg {
    display: block;
    width: 50px;
    padding: 20px;
    height: 20px;
   
}

footer {
    text-align: center;
    color: #83AF93;
    display: inline;
}

footer ul {
    display: inline;
    text-align: center;
}